{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "tabWidth": 4
      }
    }
  ]
}
